<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) if Refinery::Pages.default_parts.any? %>

  <% if @posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :side_body_prepend do -%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second[:slug].to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>

<%= render '/refinery/blog/shared/body_content_right' %>

<%= render '/refinery/big_header_image' %>

<div class="section" id="firstSection">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render "/refinery/content_page", :hide_sections => [:body_content_title, :side_body, :banner] %>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <%= yield :side_body %>
      </div>
    </div>
  </div>
</div>
