<%= render '/refinery/big_header_image' %>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <%= raw @page.content_for(:body) %>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info-icon">
          <div class="icon text-danger">
              <i class="pe-7s-anchor"></i>
          </div>
          <%= raw @page.content_for(:left_card) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-icon">
          <div class="icon text-danger">
            <i class="pe-7s-film"></i>
          </div>
          <%= raw @page.content_for(:center_card) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-icon">
          <div class="icon text-danger">
            <i class="pe-7s-camera"></i>
          </div>
          <%= raw @page.content_for(:right_card) %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render '/refinery/big_parallax_image', locals: {image_index: 1} %>

<div class="section section-info section-info-presentation">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="info-pricing">
          <div class="icon">
            <i class="pe-7s-helm icons-info text-danger"></i>
          </div>
          <div class="text">
            <%= raw @page.content_for(:side_top) %>
          </div>
        </div>
        <div class="info-pricing">
          <div class="icon">
            <i class="pe-7s-users icons-info text-danger"></i>
          </div>
          <div class="text">
            <%= raw @page.content_for(:side_middle) %>
          </div>
        </div>
        <div class="info-pricing">
          <div class="icon">
            <i class="pe-7s-help2 icons-info text-danger"></i>
          </div>
          <div class="text">
            <%= raw @page.content_for(:side_bottom) %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="image-container">
          <%= image_tag @page.images[2].url, alt: @page.images[2].image_alt %>
        </div>
      </div>
    </div>
  </div>
</div>
