<div class="section">
  <div class="contact-form">
    <%= form_for [refinery, :inquiries, inquiry] do |f| %>
      <div class="row">
        <%= render :partial => "/refinery/admin/error_messages",
                   :locals => {
                     :object => inquiry,
                     :include_object_name => true
                   } %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label :name, :class => 'pull-left placeholder-fallback required' %>
            <%= f.text_field :name, :class => 'text form-control form-control-plain', :required => 'required',
              :placeholder => (t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field form-group">
            <%= f.label :email, :class => 'pull-left placeholder-fallback required' %>
            <%= f.email_field :email, :class => 'text email form-control form-control-plain', :required => 'required',
              :placeholder => (t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
          </div>
        </div>

        <% if Refinery::Inquiries.show_phone_number_field && false %>
          <div class="col-md-4">
            <div class="field form-group">
              <%= f.label :phone, :class => 'pull-left placeholder-fallback' %>
              <%= f.text_field :phone, :class => 'text phone form-control form-control-plain',
                :placeholder => (t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
            </div>
          </div>
        <% end %>

        <div class="col-md-12">
          <div class='field message_field form-group'>
            <%= f.label :message, :class => 'pull-left placeholder-fallback required' %>
            <%= f.text_area :message, :rows => 8, :required => 'required', :class => 'form-control form-control-plain',
              :placeholder => (t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
          </div>

          <div>
            <div class="col-md-2 col-md-offset-5">
              <!-- <button type="button" class="btn btn-danger btn-fill">
                Contact Us
              </button> -->
              <%= f.submit t('.send'), :class => "btn btn-danger btn-fill" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>